body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #ef8732ef;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%; 

}

nav {
    flex-grow: 0;
}

#lista-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
}

#lista-nav a {
    text-decoration: none;
    font: bold;
    font-size: large;
    color: black; 
}

#lista-nav a:hover {
    color: #fffffff4; 
    transition: color 0.5s ease; 
}

#lista-nav li {
    margin-left: 30px;
}

#logo-img {
    height: 52px; 
    width: 52px; 
    display: block; 
}

#apresentacao {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 50px 0; 
    width: 100%; 
}

#cactus-apresentacao {
    max-width: 60%; 
    height: auto; 
    margin-bottom: 80px; 
}

#apresentacao h2 {
    font-size: 2em;
    font-weight: bold; 
    color: #333; 
    margin: 0; 
    margin-bottom: 10px; 
}

#apresentacao h3 {
    font-size: 1.2em; 
    margin-top: 5px;
    margin-bottom: 0;
    color: #333;
    font-weight: normal;
}

.destaque {
    color: #ef8732ef; 
    font-weight: bold; 
}