body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #ef8732ef;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%; 

}

nav {
    flex-grow: 0;
}

#lista-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
}

#lista-nav a {
    text-decoration: none;
    font: bold;
    font-size: large;
    color: black; 
}

#lista-nav a:hover {
    color: #fffffff4; 
    transition: color 0.5s ease; 
}

#lista-nav li {
    margin-left: 30px;
}

#logo-img {
    height: 52px; 
    width: 52px; 
    display: block; 
}

#apresentacao {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 50px 0; 
    width: 100%; 
}

#cactus-apresentacao {
    max-width: 60%; 
    height: auto; 
    margin-bottom: 80px; 
}

#apresentacao h2 {
    font-size: 2em;
    font-weight: bold; 
    color: #333; 
    margin: 0; 
    margin-bottom: 10px; 
}

#apresentacao h3 {
    font-size: 1.2em; 
    margin-top: 5px;
    margin-bottom: 0;
    color: #333;
    font-weight: normal;
}

.destaque {
    color: #ef8732ef; 
    font-weight: bold; 
}

.footer-bg {
  background-color: #F48830;
  color: #1D1B20;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-bg a {
  color: #1D1B20;
  text-decoration: none;
}

.footer-bg a:hover {
  text-decoration: underline;
}

.footer.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-informacoes,
.footer-contato {
  margin-bottom: 32px;
}

.footer-bg h3 {
  margin-bottom: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-informacoes ul,
.footer-contato ul {
  list-style: none;
  padding: 0;
}

.footer-informacoes li,
.footer-contato li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-contato img,
.footer-bottom img {
  width: 20px;
  height: 20px;
}

.footer-bottom .logo {
  width: 60px;
  height: auto;
}

.footer-bg hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid rgba(29, 27, 32, 0.3);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 700px) {
  .footer.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  hr {
    grid-column: 1 / -1;
  }

  .footer-bottom {
    grid-column: 1 / -1;
  }

  .footer-copy {
    grid-column: 1 / -1;
  }
}
